@import '../../styles/CommonStyles/FontParams/FontParams.css';
@import '../CommonStyles/Colors/Colors.scss';

*{
  font-family: 'Roboto';
  user-select: none;
  -webkit-user-select: none;
}

html, body{
  max-height: 100%;
  max-width: 100%;
  font-size: 100%;
}

body {
  background: $beigeColor;
}

@media (max-width: 1920px) {
  body {
      max-width: 1920px;
  }
}

@media (max-width: 1024px) {
  body {
      max-width: 1024px;
  }        
}