@import '../../styles/CommonStyles/Sections/Sections.css';
.form-section {
  gap: 100px;
}
.form-section .form-section__header {
  gap: 30px;
}
.form-section .form-section__header .form-section__header__subtitle {
  max-width: 458px;
  text-align: center;
  color: #A6A6A6;
}
.form-section .form-section__content-form {
  gap: 33px;
  background: #FFFFFF;
  border-radius: 50px;
  min-height: 986px;
}
.form-section .form-section__content-form .form-cont {
  display: flex;
  max-width: 1170px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 33px;
  margin-top: 77px;
}
.form-section .form-section__content-form .form-cont .form-section__input-name {
  color: #1B1F2B;
}
.form-section .form-section__content-form .form-cont .form-section__input-fields-container {
  max-height: 104px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}
.form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container {
  max-width: 500px;
  max-height: 104px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}
.form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container input[type=date]::-webkit-datetime-edit {
  color: #A6A6A6;
  font-size: 25px;
  font-weight: 300;
}
.form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .select-wrapper::before {
  content: url("./FormPng/Rectangle.png");
  position: absolute;
  top: 55%;
  right: 25px;
  display: block;
  width: 20px;
  height: 100%;
  pointer-events: none;
}
.form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__select-field {
  min-width: 500px;
  max-width: 500px;
  min-height: 68px;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  gap: 10px;
  padding: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
@media (min-width: 361px) {
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__select-field:hover {
    background: #F4F0E9;
  }
}
.form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .first-date-field {
  color: #F9F7F4;
}
.form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .second-date-field::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__input-field {
  min-width: 500px;
  max-width: 500px;
  min-height: 68px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 10px;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  -webkit-appearance: none;
}
@media (min-width: 361px) {
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__input-field:focus {
    border: 1px solid #A6A6A6;
    background: #F4F0E9;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .first-date-field:hover {
    color: #F4F0E9;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .first-date-field:focus {
    color: #F4F0E9;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__input-field:hover {
    background: #F4F0E9;
  }
}
.form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__input-field::-moz-placeholder {
  color: #A6A6A6;
}
.form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__input-field::placeholder {
  color: #A6A6A6;
}
.form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container input[type=date]:not(.has-value):before {
  color: #A6A6A6;
  content: attr(placeholder);
}
.form-section .form-section__content-form .form-section__input-comment-container {
  max-width: 1030px;
  max-height: 188px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-left: 70px;
}
.form-section .form-section__content-form .form-section__input-comment-container .form-section__input-name {
  color: #1B1F2B;
}
.form-section .form-section__content-form .form-section__input-comment-container .input-comment {
  resize: none;
}
@media (min-width: 361px) {
  .form-section .form-section__content-form .form-section__input-comment-container .form-section__input-field-comment:focus {
    border: 1px solid #A6A6A6;
    background: #F4F0E9;
  }
  .form-section .form-section__content-form .form-section__input-comment-container .form-section__input-field-comment:hover {
    background: #F4F0E9;
  }
}
.form-section .form-section__content-form .form-section__input-comment-container .form-section__input-field-comment {
  max-width: 1030px;
  min-width: 1030px;
  min-height: 152px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 10px;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.form-section .form-section__content-form .form-section__age-check {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin-top: 6px;
  margin-left: 70px;
}
.form-section .form-section__content-form .form-section__age-check .form-section__age-check__input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-top: 0px;
}
.form-section .form-section__content-form .form-section__age-check .form-section__age-check__input-container .form-section__input-name {
  color: #1B1F2B;
}
.form-section .form-section__content-form .form-section__age-check .form-section__age-check__input-container .age-check__radio-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 31px;
}
.form-section .form-section__content-form .form-section__age-check .form-section__age-check__input-container .age-check__radio-buttons-container .age-check__radio-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}
.form-section .form-section__content-form .form-section__age-check .form-section__age-check__input-container .age-check__radio-buttons-container .age-check__radio-button-container .age-check__radio-button {
  display: none;
}
.form-section .form-section__content-form .form-section__age-check .form-section__age-check__input-container .age-check__radio-buttons-container .age-check__radio-button-container .radio__border {
  min-width: 21px;
  min-height: 21px;
  border: 2px solid #1B1F2B;
  border-radius: 50%;
  position: relative;
}
.form-section .form-section__content-form .form-section__age-check .form-section__age-check__input-container .age-check__radio-buttons-container .age-check__radio-button-container .radio__border::before {
  content: "";
  position: absolute;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%);
  display: block;
  min-width: 12px;
  min-height: 12px;
  background-color: #1B1F2B;
  border-radius: 50%;
  transition: 0.2s;
  z-index: -1;
}
.form-section .form-section__content-form .form-section__age-check .form-section__age-check__input-container .age-check__radio-buttons-container .age-check__radio-button-container .age-check__radio-button:checked + .radio__border::before {
  z-index: 1;
}
.form-section .form-section__content-form .form-section__agreement-container {
  margin-left: 70px;
}
.form-section .form-section__content-form .form-section__agreement-container .form-section__accept {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #A6A6A6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 19px;
}
.form-section .form-section__content-form .form-section__agreement-container .form-section__accept .form-section__agreement-radio-button {
  display: none;
}
.form-section .form-section__content-form .form-section__agreement-container .form-section__accept .agreement-text .form-section__agreement-text-link {
  color: #1B1F2B;
  text-decoration: none;
  cursor: pointer;
  margin-left: 1px;
  font-size: 17px;
  background: inherit;
}
.form-section .form-section__content-form .form-section__agreement-container .form-section__accept .checkbox__border {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  border: 2px solid #1B1F2B;
  border-radius: 20%;
  position: relative;
}
.form-section .form-section__content-form .form-section__agreement-container .form-section__accept .checkbox__border::before {
  content: "";
  position: absolute;
  left: -1.3px;
  top: 48%;
  min-height: 29%;
  min-width: 2px;
  background-color: #1B1F2B;
  transform: translateX(9.45px) rotate(-45deg);
  transform-origin: left bottom;
  opacity: 0;
  transition: 0.2s;
}
.form-section .form-section__content-form .form-section__agreement-container .form-section__accept .checkbox__border::after {
  position: absolute;
  left: 9%;
  bottom: 19%;
  min-height: 2px;
  min-width: 68%;
  background-color: #1B1F2B;
  content: "";
  transform: translateX(7.1px) rotate(-46deg);
  transform-origin: left bottom;
  opacity: 0;
  transition: 0.2s;
}
.form-section .form-section__content-form .form-section__agreement-container .form-section__accept .form-section__agreement-radio-button:checked + .checkbox__border::before,
.form-section .form-section__content-form .form-section__agreement-container .form-section__accept .form-section__agreement-radio-button:checked + .checkbox__border::after {
  opacity: 1;
}
@media (min-width: 361px) {
  .form-section .form-section__content-form .form-section__agreement-container .form-section__accept .form-section__agreement-text-link:hover {
    text-decoration: underline;
  }
  .form-section .form-section__content-form .form-section__agreement-container .form-section__accept .form-section__agreement-text-link:active {
    color: #286562;
  }
}
.form-section .form-section__content-form .form-section__buttons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin-left: 70px;
}
.form-section .form-section__content-form .form-section__buttons-container .form-section__submit-button {
  min-width: 235px;
  min-height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #286562;
  border-radius: 10px;
  cursor: pointer;
}
.form-section .form-section__content-form .form-section__buttons-container .form-section__submit-button .form-section__submit-button-text {
  color: #FFFFFF;
  background-color: inherit;
  min-width: 235px;
  min-height: 58px;
  border-radius: 10px;
}
@media (min-width: 361px) {
  .form-section .form-section__content-form .form-section__buttons-container .form-section__submit-button:hover {
    background: #3B7E7B;
  }
  .form-section .form-section__content-form .form-section__buttons-container .form-section__submit-button:active {
    background: #627F7E;
  }
}
.form-section .form-section__content-form .form-section__buttons-container .form-section__reset-button {
  min-width: 235px;
  min-height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #E0F0E5;
  border-radius: 10px;
  cursor: pointer;
}
.form-section .form-section__content-form .form-section__buttons-container .form-section__reset-button .form-section__reset-button-text {
  color: #286562;
  min-width: 235px;
  min-height: 58px;
  background-color: inherit;
  border-radius: 10px;
}
@media (min-width: 361px) {
  .form-section .form-section__content-form .form-section__buttons-container .form-section__reset-button:hover {
    background: #F1F3F2;
  }
  .form-section .form-section__content-form .form-section__buttons-container .form-section__reset-button:active {
    background: #D9DFDB;
  }
}

@media (max-width: 1175px) {
  .form-section .form-section__content-form {
    max-width: 95%;
    min-width: 95%;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container {
    max-width: 410px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__select-field {
    max-width: 410px;
    min-width: 410px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__input-field {
    min-width: 410px;
  }
  .form-section .form-section__content-form .form-section__input-comment-container {
    margin-left: 0;
  }
  .form-section .form-section__content-form .form-section__input-comment-container .form-section__input-field-comment {
    max-width: 870px;
    min-width: 860px;
  }
  .form-section .form-section__content-form .form-section__age-check {
    min-width: 90%;
    justify-content: center;
    margin-right: 767px;
  }
  .form-section .form-section__content-form .form-section__agreement-container {
    min-width: 90%;
    display: flex;
    justify-content: center;
    margin-right: 376px;
  }
  .form-section .form-section__content-form .form-section__agreement-container .form-section__accept {
    justify-content: flex-start;
  }
  .form-section .form-section__content-form .form-section__buttons-container {
    min-width: 90%;
    justify-content: center;
    margin-right: 430px;
  }
}
@media (max-width: 1024px) {
  .form-section {
    gap: 100px;
    margin: 0 auto;
  }
  .form-section .form-section__content-form {
    min-width: 90%;
    max-width: 90%;
    min-height: 844px;
    padding-top: 60px;
    padding-bottom: 54px;
    gap: 33px;
  }
  .form-section .form-section__content-form .form-cont {
    gap: 35px;
    margin-top: 0px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container {
    gap: 20px;
    max-height: 102px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container {
    max-width: 389px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__select-field {
    max-width: 389px;
    min-width: 389px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__input-field {
    min-width: 389px;
  }
  .form-section .form-section__content-form .form-section__input-comment-container {
    max-width: 798px;
    max-height: 183.4px;
    margin-left: 0px;
  }
  .form-section .form-section__content-form .form-section__input-comment-container .form-section__input-field-comment {
    max-width: 798px;
    min-width: 798px;
  }
  .form-section .form-section__content-form .form-section__age-check {
    margin-right: 700px;
  }
  .form-section .form-section__content-form .form-section__agreement-container {
    margin-right: 316px;
  }
  .form-section .form-section__content-form .form-section__agreement-container .form-section__accept {
    gap: 12px;
  }
  .form-section .form-section__content-form .form-section__agreement-container .form-section__accept .agreement-text .form-section__agreement-text-link {
    margin-top: 0px;
  }
  .form-section .form-section__content-form .form-section__buttons-container {
    margin-right: 364px;
  }
}
@media (max-width: 992px) {
  .form-section {
    gap: 50px;
  }
  .form-section .form-section__content-form {
    max-width: 85%;
    min-width: 85%;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container {
    max-width: 300px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__select-field {
    max-width: 300px;
    min-width: 300px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__input-field {
    min-width: 300px;
  }
  .form-section .form-section__content-form .form-section__input-comment-container .form-section__input-field-comment {
    max-width: 630px;
    min-width: 630px;
  }
  .form-section .form-section__content-form .form-section__age-check {
    margin-right: 540px;
  }
  .form-section .form-section__content-form .form-section__agreement-container {
    margin-right: 156px;
  }
  .form-section .form-section__content-form .form-section__buttons-container {
    margin-right: 200px;
  }
}
@media (max-width: 780px) {
  .form-section {
    max-width: 360px;
    gap: 40px;
  }
  .form-section .form-section__header {
    gap: 20px;
  }
  .form-section .form-section__header .form-section__header__title {
    letter-spacing: 0.7px;
  }
  .form-section .form-section__header .form-section__header__subtitle {
    min-width: 400px;
  }
  .form-section .form-section__content-form {
    border-radius: 30px;
    gap: 30px;
    max-width: 318px;
    min-height: 1110px;
    border-radius: 20px;
    padding: 0px;
  }
  .form-section .form-section__content-form .form-cont {
    gap: 32px;
    margin-top: 16px;
    margin-right: 31px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-name {
    font-size: 16px;
    margin-top: 0px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container {
    max-height: 74px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container {
    max-width: 250px;
    max-height: 74px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container input[type=date]::-webkit-datetime-edit {
    color: #A6A6A6;
    font-size: 20px;
    font-weight: 300;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .select-wrapper::before {
    content: url("./FormPng/Rectangle.png");
    position: absolute;
    top: 59%;
    right: 0px;
    display: block;
    width: 10px;
    height: 70%;
    pointer-events: none;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__input-field {
    padding: 8px;
    font-size: 16px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__select-field {
    min-width: 278px;
    min-height: 43px;
    font-size: 15px;
    padding: 10px;
    letter-spacing: 0.4px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__input-field {
    min-width: 278px;
    max-width: 278px;
    min-height: 43px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__input-field::-moz-placeholder {
    font-size: 16px;
  }
  .form-section .form-section__content-form .form-cont .form-section__input-fields-container .form-section__input-field-container .form-section__input-field::placeholder {
    font-size: 16px;
  }
  .form-section .form-section__content-form .form-section__input-comment-container {
    max-width: 278px;
    max-height: 163px;
  }
  .form-section .form-section__content-form .form-section__input-comment-container .form-section__input-name {
    font-size: 16px;
    margin-top: 0px;
  }
  .form-section .form-section__content-form .form-section__input-comment-container .form-section__input-field-comment {
    max-width: 278px;
    min-width: 278px;
    min-height: 132px;
    font-size: 16px;
  }
  .form-section .form-section__content-form .form-section__age-check {
    margin-left: 0;
    margin-right: 140px;
  }
  .form-section .form-section__content-form .form-section__age-check .form-section__age-check__input-container {
    gap: 8px;
  }
  .form-section .form-section__content-form .form-section__age-check .form-section__age-check__input-container .form-section__input-name {
    font-size: 16px;
  }
  .form-section .form-section__content-form .form-section__age-check .form-section__age-check__input-container .age-check__radio-buttons-container {
    gap: 27px;
  }
  .form-section .form-section__content-form .form-section__age-check .form-section__age-check__input-container .age-check__radio-buttons-container .age-check__radio-button-container .radio__border {
    min-width: 17px;
    min-height: 17px;
  }
  .form-section .form-section__content-form .form-section__age-check .form-section__age-check__input-container .age-check__radio-buttons-container .age-check__radio-button-container .radio__border::before {
    min-width: 10px;
    min-height: 9px;
  }
  .form-section .form-section__content-form .form-section__agreement-container {
    margin-left: 0;
    margin-right: 0px;
  }
  .form-section .form-section__content-form .form-section__agreement-container .form-section__accept {
    font-size: 16px;
    gap: 0;
  }
  .form-section .form-section__content-form .form-section__agreement-container .form-section__accept .checkbox__border {
    margin-bottom: 45px;
    min-width: 16px;
    min-height: 16px;
  }
  .form-section .form-section__content-form .form-section__agreement-container .form-section__accept .agreement-text {
    margin-left: 12px;
    font-size: 16px;
    max-width: 248px;
  }
  .form-section .form-section__content-form .form-section__agreement-container .form-section__accept .agreement-text .form-section__agreement-text-link {
    margin-left: 1px;
    font-size: 16px;
  }
  .form-section .form-section__content-form .form-section__buttons-container {
    gap: 10px;
    margin-left: 0;
    margin-right: 0px;
  }
  .form-section .form-section__content-form .form-section__buttons-container .form-section__submit-button {
    min-width: 134px;
    min-height: 47px;
  }
  .form-section .form-section__content-form .form-section__buttons-container .form-section__submit-button .form-section__submit-button-text {
    font-size: 16px;
    min-width: 134px;
    min-height: 47px;
  }
  .form-section .form-section__content-form .form-section__buttons-container .form-section__reset-button {
    min-width: 134px;
    min-height: 47px;
  }
  .form-section .form-section__content-form .form-section__buttons-container .form-section__reset-button .form-section__reset-button-text {
    font-size: 16px;
    min-width: 134px;
    min-height: 47px;
  }
}/*# sourceMappingURL=Form.css.map */