@import '../../../styles/CommonStyles/Colors/Colors.scss';

.review-section {
    max-width: 1170px;
    min-height: 1005px;
    gap: 100px;

    .review-section__header {
        gap: 30px;

        .review-section__header__title {
            max-width: 529px;
        }

        .review-section__header__subtitle {
            max-width: 418px;
            max-height: 56px;
        }
    }

    .review-section__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;

        // .review-section__review-card {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-between;
        //     align-items: flex-start;
        //     padding: 40px;
        //     min-height: 590px;
        //     background: $lightBeigeColor;
        //     border-radius: 50px;

        //     .review-section__review-card-text {
        //         font-family: 'Roboto';
        //         font-style: normal;
        //         font-weight: 700;
        //         font-size: 23px;
        //         line-height: 122%;
        //         color: $blackColor
        //     }

        //     .review-section__review-card__footer {
        //         display: flex;
        //         flex-direction: row;
        //         align-items: flex-end;
        //         padding: 70px 0px 0px;

        //         .review-section__footer-content {
        //             display: flex;
        //             flex-direction: column;
        //             align-items: flex-start;
        //             gap: 8px;
        //             min-width: 415px;

        //             .review-section__reviewer-name {
        //                 font-family: 'Roboto';
        //                 font-style: normal;
        //                 font-weight: 500;
        //                 font-size: 35px;
        //                 line-height: 122%;
        //                 color: $blackColor;
        //             }

        //             .review-section__reviewer-tour {
        //                 font-family: 'Roboto';
        //                 font-style: normal;
        //                 font-weight: 400;
        //                 font-size: 17px;
        //                 line-height: 142%;
        //                 letter-spacing: -0.01em;
        //                 color: $greyColor;
        //             }
        //         }

        //         .footer-content__reviewer {
        //             border-radius: 100px;
        //         }
        //     }
        // }
    }
}

@media (max-width: 1175px) {
    .review-section {

        .review-section__content {
            max-width: 100%;

            // .review-section__review-card {

            //     .review-section__review-card__footer {
            //         min-width: 100%;
            //         padding: 0;

            //         .review-section__footer-content {
            //             min-width: 70%;
            //         }
            //     }
            // }
        }
    }
}

@media (max-width: 1024px) {
    .review-section {
        max-width: 1024px;
        min-height: 1173px;
        

        .review-section__content {
            max-width: 1024px;
            padding: 0px 52px;
            gap: 18px;

            // .review-section__review-card {
            //     max-width: 370px;
            //     min-height: 767px;

            //     .review-section__review-card__footer {

            //         .review-section__footer-content {
            //             min-width: 295px;
            //             gap: 6px;

            //             .review-section__reviewer-tour {
            //                 margin-bottom: 6px;
            //             }
            //         }
            //     }
            // }
        }
    }
}

@media (max-width: 992px) {
    .review-section {
        max-width: 100%;
        min-height: auto;
        max-height: auto;
        gap: 50px;

        .review-section__header {
            gap: 20px;

            .review-section__header__title {
                letter-spacing: 0.7px;
            }

            .review-section__header__subtitle {
                max-width: 400px;
            }
        }

        .review-section__content {
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            min-width: 100%;

            // .review-section__review-card {
            //     min-height: 290px;
            //     border-radius: 20px;
            //     align-items: flex-start;
            //     max-width: calc(300px + 70 * (100vw / 940));
            //     min-height: 558px;

            //     .review-section__review-card-text {
            //         font-size: 18px;
            //         line-height: 143%;
            //     }

            //     .review-section__review-card__footer {
            //         padding: 70px 0px 0px;

            //         .review-section__footer-content {
            //             min-width: 270px;
            //             gap: 8px;

            //             .review-section__reviewer-name {
            //                 font-weight: 700;
            //                 font-size: 23px;
            //                 line-height: 120%;
            //                 letter-spacing: 0.04em;
            //             }

            //             .review-section__reviewer-tour {
            //                 font-size: 16px;
            //                 letter-spacing: -0.01em;
            //                 margin-bottom: 1px;
            //             }
            //         }

            //         .footer-content__reviewer {
            //             max-width: 75px;
            //             max-height: 75px;
            //         }
            //     }
            // }
        }

    }
}

@media (max-width: 576px) {
    .review-section {
        max-width: 360px;
        gap: 50px;

        .review-section__header {
            gap: 20px;

            .review-section__header__subtitle {
                max-width: 318px;
            }
        }

        .review-section__content {
            max-width: 360px;
            flex-direction: column;

            // .review-section__review-card {
            //     padding: 20px;
            //     max-width: 318px;
            //     border-radius: 20px;
            //     align-items: flex-start;
            //     min-height: auto;

            //     .review-section__review-card-text {
            //         font-size: 16px;
            //         line-height: 143%;
            //     }

            //     .review-section__review-card__footer {
            //         padding: 43px 0px 0px;

            //         .review-section__footer-content {
            //             min-width: 203px;
            //             gap: 8px;

            //             .review-section__reviewer-name {
            //                 font-weight: 700;
            //                 font-size: 23px;
            //                 line-height: 120%;
            //             }

            //             .review-section__reviewer-tour {
            //                 font-size: 16px;
            //             }
            //         }

            //         .footer-content__reviewer {
            //             max-width: 75px;
            //             max-height: 75px;
            //         }
            //     }
            // }
        }

    }
}

@media (max-width: 360px) {
    .review-section {
        max-width: 360px;
        min-height: 1210px;
        max-height: 1210px;
        gap: 50px;
        margin-left: -3.5px;

        .review-section__header {
            gap: 20px;

            .review-section__header__title {
                letter-spacing: 0.7px;
            }

            .review-section__header__subtitle {
                max-width: 318px;
            }
        }

        .review-section__content {
            max-width: 360px;
            padding: 0px 21px;
            flex-direction: column;
            align-items: center;

            // .review-section__review-card {
            //     min-height: 290px;
            //     max-width: 318px;
            //     border-radius: 20px;
            //     align-items: flex-start;
            //     justify-content: flex-start;

            //     .review-section__review-card-text {
            //         font-size: 16px;
            //         line-height: 143%;
            //         max-width: 273px;
            //     }

            //     .review-section__review-card__footer {
            //         padding: 42px 0px 0px;

            //         .review-section__footer-content {
            //             min-width: 203px;
            //             gap: 8px;

            //             .review-section__reviewer-name {
            //                 font-weight: 700;
            //                 font-size: 23px;
            //                 line-height: 120%;
            //                 letter-spacing: 0.04em;
            //             }

            //             .review-section__reviewer-tour {
            //                 letter-spacing: -0.01em;
            //                 margin-bottom: 1px;
            //             }
            //         }

            //         .footer-content__reviewer {
            //             max-width: 75px;
            //             max-height: 75px;
            //         }
            //     }
            // }
        }

    }
}